FORMAT: 1A
HOST: http://www.vogelhetuit.nl/api

# Vogel het uit
The *Vogel het uit* service for sharing gps tracks (trips), assigning points of interest, attaching questions to poi, recieving answers and building trip story.

# Architecture

![Architecture](http://sverhoeven.github.io/vogelhetuit-api/Architecture.svg "Schema")

# Formatting

- Geo data must be in [GeoJSON](http://www.geojson.org) format.
- Timestamps must be in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) (YYYY-MM-DDTHH:MM:SSZ) format.

# Authentication

Routes which require *anonymous* role can be requested without authentication.

Use Basic authentication on `POST /login` to authenticate and use returned cookie to authentication for other routes.

# Filtering

To filter a collection, you can append (? or &)&lt;property&gt;=&lt;value&gt; to the url.
The &lt;property&gt; should be the name of a field and &lt;value&gt; is the value you want to filter by.
Multiple filters can be used.
Filters which can't be specified using  &lt;property&gt;=&lt;value&gt; like spatial filters will be listed seperately.

# Pagination

For urls with collections use `page` query attribute (defaults to 1). The default pagesize is 10 and can be changed with `pagesize` query attribute.

Example on `/species?page=3&pagesize=20`:

+ Response 200 (application/json)

        {
            "total": 0,
            "items": []
        }

# Sorting

To sort a collection, you can append  ?order=&lt;field1&gt;,&lt;field2&gt; asc,&lt;field3&gt; desc.

# Multi lingual

The text fields which can be filled with this API should be made in the language for the target audience.
Any errors will be in English. The website/app is responsible to translate it for the user.

# Read-only attributes

The following attributes are read-only, when set during creating or update they will be silently ignored:
* The '_links' attribute is a way for hyperlinking between resources. The format used is HAL, see http://stateless.co/hal_specification.html.
* The '*_by' and '*_on' attributes are updated automaticly when a user performs a change to a resources.

# Group Species
Species can be used to filter pois, trips or stories.

## Species [/species/{id}]

The banner, logo, app_menu_item and app_logo are media resources. Media has the forllowing urls:
* reference, the original uploaded image
* big, the image scaled to 1920px maximum width
* small, the image scaled to 120px maximum width

> TODO allow api to update banner and logo by uploading new media and setting species.banner to new media id.

+ Parameters
    + id (number, `1`) ... Species identifier.

+ Model (application/json)

        {
            "id": 1,
            "name": "Kleine mantelmeeuw",
            "body": "<p>html describing species and why it is being researched</p>",
            "facts": "<table><tr><td>Name</td><td>Value</td></tr></table>",
            "banner": {
                "id": 1,
                "width": 800,
                "height": 558,
                "urls": {
                    "reference": "http://localhost:8000/uploads/media/species/0001/01/ca9e366f26e6c4fbe25f844a552711ac2f202d0d.jpeg",
                    "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_1_species_big.jpeg",
                    "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_1_species_small.jpeg"
                }
            },
            "logo": {
                "id": 2,
                "width": 320,
                "height": 181,
                "urls": {
                    "reference": "http://localhost:8000/uploads/media/species/0001/01/bc2791fde7e746299795d026f2c3acfd307fb902.jpeg",
                    "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_big.jpeg",
                    "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_small.jpeg"
                }
            },
            "app_menu_item": {
                "id": 1,
                "width": 800,
                "height": 558,
                "urls": {
                    "reference": "http:\/\/localhost:8333\/uploads\/media\/species\/0001\/01\/54acdefade9378e05b0ebf0e3fdc0850c37ca9d8.jpeg",
                    "big": "http:\/\/localhost:8333\/uploads\/media\/species\/0001\/01\/thumb_1_species_big.jpeg",
                    "small": "http:\/\/localhost:8333\/uploads\/media\/species\/0001\/01\/thumb_1_species_small.jpeg"
                }
            },
            "app_logo": {
                "id": 2,
                "width": 320,
                "height": 181,
                "urls": {
                    "reference": "http://localhost:8000/uploads/media/species/0001/01/bc2791fde7e746299795d026f2c3acfd307fb902.jpeg",
                    "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_big.jpeg",
                    "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_small.jpeg"
                }
            },
            "stats": {
                "nr_answers": 1,
                "nr_pois": 1,
                "nr_questions": 1,
                "nr_trips": 1
            },
            "created_by": 2,
            "created_on": "2013-04-14T10:00:00+00:00"
        }

### Retrieve a species [GET]

Retrieving a single species requires the anonymous role.

+ Response 200

    [Species][]

### Update a species. [PUT]

Updating a single species requires the researcher role.

+ Request

    [Species][]

+ Response 200

### Delete a species. [DELETE]

Deleting a single species requires the researcher role.

+ Response 204

## Species Collection [/species]

+ Model (application/json)

        {
            "total": 1,
            "items":[{
                "id": 1,
                "name": "Kleine mantelmeeuw",
                "banner": {
                    "id": 1,
                    "width": 800,
                    "height": 558,
                    "urls": {
                        "reference": "http://localhost:8000/uploads/media/species/0001/01/ca9e366f26e6c4fbe25f844a552711ac2f202d0d.jpeg",
                        "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_1_species_big.jpeg",
                        "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_1_species_small.jpeg"
                    }
                },
                "logo": {
                    "id": 2,
                    "width": 320,
                    "height": 181,
                    "urls": {
                        "reference": "http://localhost:8000/uploads/media/species/0001/01/bc2791fde7e746299795d026f2c3acfd307fb902.jpeg",
                        "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_big.jpeg",
                        "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_small.jpeg"
                    }
                },
                "app_menu_item": {
                    "id": 1,
                    "width": 800,
                    "height": 558,
                    "urls": {
                        "reference": "http:\/\/localhost:8333\/uploads\/media\/species\/0001\/01\/54acdefade9378e05b0ebf0e3fdc0850c37ca9d8.jpeg",
                        "big": "http:\/\/localhost:8333\/uploads\/media\/species\/0001\/01\/thumb_1_species_big.jpeg",
                        "small": "http:\/\/localhost:8333\/uploads\/media\/species\/0001\/01\/thumb_1_species_small.jpeg"
                    }
                },
                "app_logo": {
                    "id": 2,
                    "width": 320,
                    "height": 181,
                    "urls": {
                        "reference": "http://localhost:8000/uploads/media/species/0001/01/bc2791fde7e746299795d026f2c3acfd307fb902.jpeg",
                        "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_big.jpeg",
                        "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_small.jpeg"
                    }
                },
                "stats": {
                    "nr_answers": 1,
                    "nr_pois": 1,
                    "nr_questions": 1,
                    "nr_trips": 1
                },
                "created_by": 2,
                "created_on": "2013-04-14T10:00:00+00:00"
            }]
        }

### Retrieve list of species [GET]

Retrieving a list of species requires the anonymous role.

+ Response 200

    [Species Collection][]

### Create a single species. [POST]

Creating a single species requires the researcher role.

+ Request

    [Species][]

+ Response 201

    [Species][]

## Retrieve list of species with a distance to a location [/species?dist={lon,lat}]

+ Parameters
    + lon (number, `7.049235`) ... Longitude.
    + lat (number, `53.123681`) ... Latitude.

### Distance to closest poi [GET]

+ Response 200 (application/json)

        {
            "total": 1,
            "items":[{
                "id": 1,
                "name": "Kleine mantelmeeuw",
                "banner": {
                    "id": 1,
                    "width": 800,
                    "height": 558,
                    "urls": {
                        "reference": "http://localhost:8000/uploads/media/species/0001/01/ca9e366f26e6c4fbe25f844a552711ac2f202d0d.jpeg",
                        "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_1_species_big.jpeg",
                        "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_1_species_small.jpeg"
                    }
                },
                "logo": {
                    "id": 2,
                    "width": 320,
                    "height": 181,
                    "urls": {
                        "reference": "http://localhost:8000/uploads/media/species/0001/01/bc2791fde7e746299795d026f2c3acfd307fb902.jpeg",
                        "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_big.jpeg",
                        "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_small.jpeg"
                    }
                },
                "app_menu_item": {
                    "id": 1,
                    "width": 800,
                    "height": 558,
                    "urls": {
                        "reference": "http:\/\/localhost:8333\/uploads\/media\/species\/0001\/01\/54acdefade9378e05b0ebf0e3fdc0850c37ca9d8.jpeg",
                        "big": "http:\/\/localhost:8333\/uploads\/media\/species\/0001\/01\/thumb_1_species_big.jpeg",
                        "small": "http:\/\/localhost:8333\/uploads\/media\/species\/0001\/01\/thumb_1_species_small.jpeg"
                    }
                },
                "app_logo": {
                    "id": 2,
                    "width": 320,
                    "height": 181,
                    "urls": {
                        "reference": "http://localhost:8000/uploads/media/species/0001/01/bc2791fde7e746299795d026f2c3acfd307fb902.jpeg",
                        "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_big.jpeg",
                        "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_small.jpeg"
                    }
                },
                "stats": {
                    "dist_closest_poi": 6153.096,
                    "nr_answers": 1,
                    "nr_pois": 1,
                    "nr_questions": 1,
                    "nr_trips": 1
                },
                "created_by": 2,
                "created_on": "2013-04-14T10:00:00+00:00"
            }]
        }

# Group Trips
A trip resource is set of timestamped coordinates with the eEcology tracker identifier.

## Trip [/trips/{id}]

+ Parameters
    + id (number, `1`) ... Trip identifier.

+ Model (application/json)

        {
            "id": 1,
            "species": {
                "id": 1,
                "name": "Kleine mantelmeeuw",
                "body": "<p>html describing species and why it is being researched</p>",
                "facts": "<table><tr><td>Name</td><td>Value</td></tr></table>",
                "banner": {
                    "id": 1,
                    "width": 800,
                    "height": 558,
                    "urls": {
                        "reference": "http://localhost:8000/uploads/media/species/0001/01/ca9e366f26e6c4fbe25f844a552711ac2f202d0d.jpeg",
                        "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_1_species_big.jpeg",
                        "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_1_species_small.jpeg"
                    }
                },
                "logo": {
                    "id": 2,
                    "width": 320,
                    "height": 181,
                    "urls": {
                        "reference": "http://localhost:8000/uploads/media/species/0001/01/bc2791fde7e746299795d026f2c3acfd307fb902.jpeg",
                        "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_big.jpeg",
                        "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_small.jpeg"
                    }
                },
                "created_by": 2,
                "created_on": "2013-04-14T10:00:00+00:00"
            },
            "tracker": 355,
            "start": "2013-04-14T10:00:00+00:00",
            "end": "2013-04-15T12:00:00+00:00",
            "body": "text describing a trip",
            "place": "Amsterdam",
            "color": "fbc300",
            "geo": {
                "type": "FeatureCollection",
                "features": [{
                    "type": "Feature",
                    "geometry": {"type": "Point", "coordinates": [4.880729,52.395173,20]},
                    "properties": {"ts":  "2013-04-15T12:05:00+00:00"}
                }, {
                    "type": "Feature",
                    "geometry": {"type": "Point", "coordinates": [4.884600,52.371303,10]},
                    "properties": {"ts":  "2013-04-15T12:10:00+00:00"}
                }, {
                    "type": "Feature",
                    "geometry": {"type": "Point", "coordinates": [4.964354,52.350452,20]},
                    "properties": {"ts":  "2013-04-15T12:15:00+00:00"}
                }]
            },
            "visible": true,
            "stats": {
                "nr_answers": 0,
                "nr_pois": 2,
                "nr_questions": 14
            },
            "created_by": 2,
            "created_on": "2013-04-14T10:00:00+00:00"
        }

### Retrieve a trip. [GET]

Retrieving a visible trip requires the anonymous role.
Retrieving a invisible trip requires the researcher role.

+ Response 200

    [Trip][]

### Update a trip. [PUT]
Updating a trip requires the researcher role.

+ Request

    [Trip][]

+ Response 200

### Delete a trip. [DELETE]
Deleting a trip requires the researcher role.

+ Response 204

## Full trip [/trips/{id}/full]

A full trip has points, pois and questions.

### GET
Trip, but with Points of interests, Questions embedded into them. This is a shortcut instead of downloading a trip, loop over POIs, loop over questions.

Retrieving a full visible trip requires the anonymous role.
Retrieving a full invisible trip requires the researcher role.

+ Parameters
    + id (number, `1`) ... Trip identifier.

+ Response 200 (application/json)

        {
            "id": 1,
            "species": {
                "id": 1,
                "name": "Kleine mantelmeeuw",
                "body": "<p>html describing species and why it is being researched</p>",
                "facts": "<table><tr><td>Name</td><td>Value</td></tr></table>",
                "banner": {
                    "id": 1,
                    "width": 800,
                    "height": 558,
                    "urls": {
                        "reference": "http://localhost:8000/uploads/media/species/0001/01/ca9e366f26e6c4fbe25f844a552711ac2f202d0d.jpeg",
                        "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_1_species_big.jpeg",
                        "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_1_species_small.jpeg"
                    }
                },
                "logo": {
                    "id": 2,
                    "width": 320,
                    "height": 181,
                    "urls": {
                        "reference": "http://localhost:8000/uploads/media/species/0001/01/bc2791fde7e746299795d026f2c3acfd307fb902.jpeg",
                        "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_big.jpeg",
                        "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_small.jpeg"
                    }
                },
                "created_by": 2,
                "created_on": "2013-04-14T10:00:00+00:00"
            },
            "tracker": 355,
            "start": "2013-04-14T10:00:00+00:00",
            "end": "2013-04-15T12:00:00+00:00",
            "body": "short text describing a trip",
            "place": "Amsterdam",
            "color": "fbc300",
            "geo": {
                "type": "FeatureCollection",
                "features": [{
                    "type": "Feature",
                    "geometry": {"type": "Point", "coordinates": [4.880729,52.395173,20]},
                    "properties": {"ts":  "2013-04-15T12:05:00+00:00"}
                }, {
                    "type": "Feature",
                    "geometry": {"type": "Point", "coordinates": [4.884600,52.371303,10]},
                    "properties": {"ts":  "2013-04-15T12:10:00+00:00"}
                }, {
                    "type": "Feature",
                    "geometry": {"type": "Point", "coordinates": [4.964354,52.350452,20]},
                    "properties": {"ts":  "2013-04-15T12:15:00+00:00"}
                }]
            },
            "pois": [{
                "id": 1,
                "location": {
                    "type": "Point",
                    "coordinates": [4.938947,52.342929]
                },
                "radius": 100,
                "order_number": 1,
                "body": "short text describing motiviation for the poi",
                "questions": [{
                    "id": 1,
                    "type": "radio",
                    "title": "Question text",
                    "description" : "Description text",
                    "shortname": "Shortname or alias",
                    "options": [{
                        "id": 1,
                        "title": "Title of option1",
                        "value": "Value of option1"
                    }, {
                        "id": 2,
                        "title": "Title of option2",
                        "value": "Value of option2"
                    }],
                    "created_by": 2,
                    "created_on": "2013-04-14T10:00:00+00:00"
                }],
                "created_by": 2,
                "created_on": "2013-04-14T10:00:00+00:00"
            }],
            "visible": true,
            "stats": {
                "nr_answers": 0,
                "nr_pois": 2,
                "nr_questions": 14
            },
            "created_by": 2,
            "created_on": "2013-04-14T10:00:00+00:00"
        }

## Kml file of trip [/trips/{id}/geo.kml]

A trip with points and pois as a kml file.

### GET

Retrieving a full visible trip requires the anonymous role.
Retrieving a full invisible trip requires the researcher role.

+ Parameters
    + id (number, `1`) ... Trip identifier.

+ Response 200 (application/vnd.google-earth.kml+xml)

            <?xml version="1.0" ?>
            <kml xmlns="http://www.opengis.net/kml/2.2">
                <Document>
                    <Style id="start">
                        <IconStyle>
                            <Icon>
                                <href>http://localhost:8333/bundles/vhuapi/images/trip-start.png</href>
                            </Icon>
                        </IconStyle>
                    </Style>
                    <Style id="finish">
                        <IconStyle>
                            <Icon>
                                <href>http://localhost:8333/bundles/vhuapi/images/trip-finish.png</href>
                            </Icon>
                        </IconStyle>
                    </Style>
                    <Style id="trip-1">
                        <LineStyle>
                            <color>7f00ffff</color>
                            <width>4</width>
                        </LineStyle>
                        <PolyStyle>
                            <color>4f00afff</color>
                        </PolyStyle>
                    </Style>
                    <Style id="poisof-1">
                        <IconStyle>
                            <Icon>
                                <href>http://localhost:8333/bundles/vhuapi/images/puzzle-ffff00.png</href>
                            </Icon>
                        </IconStyle>
                    </Style>
                    <Folder id="1">
                        <name>Trip 355</name>
                        <Placemark>
                            <LineString>
                                <altitudeMode>absolute</altitudeMode>
                                <extrude>1</extrude>
                                <coordinates>
                            4.88073,52.39517,20
                            4.88460,52.37130,10
                            4.96435,52.35045,20
                            </coordinates>
                            </LineString>
                            <styleUrl>#trip-1</styleUrl>
                        </Placemark>
                        <Placemark>
                            <name>Start</name>
                            <description>April 14, 2013 10:00</description>
                            <Point>
                                <coordinates>
                  4.88073,52.39517,20
                  </coordinates>
                            </Point>
                            <styleUrl>#start</styleUrl>
                        </Placemark>
                        <Placemark>
                            <name>Finish</name>
                            <description>April 15, 2013 12:00</description>
                            <Point>
                                <coordinates>
                   4.96435,52.35045,20
                  </coordinates>
                            </Point>
                            <styleUrl>#finish</styleUrl>
                        </Placemark>
                        <Folder>
                            <name>POIs</name>
                            <open>1</open>
                            <Placemark id="1">
                                <name>POI 1</name>
                                <Point>
                                    <coordinates>
                      4.93895, 52.34293
                      </coordinates>
                                </Point>
                                <styleUrl>#poisof-1</styleUrl>
                            </Placemark>
                        </Folder>
                    </Folder>
                </Document>
            </kml>

## Trip as GeoJSon [/trips/{id}/geo.json]

A trip with track line and ois as a geojson file.

### GET

Retrieving a full visible trip requires the anonymous role.

+ Parameters
    + id (number, `1`) ... Trip identifier.

+ Response 200 (application/json)

            {
                "features": [
                    {
                        "geometry": {
                            "coordinates": [
                                [
                                    4.880729,
                                    52.395173,
                                    20
                                ],
                                [
                                    4.8846,
                                    52.371303,
                                    10
                                ],
                                [
                                    4.964354,
                                    52.350452,
                                    20
                                ]
                            ],
                            "type": "LineString"
                        },
                        "id": "t7",
                        "properties": {
                            "bbox": [
                                52.350452,
                                4.880729,
                                52.395173,
                                4.964354
                            ],
                            "color": "fbc300",
                            "species": 5,
                            "trip": 7
                        },
                        "type": "Feature"
                    },
                    {
                        "geometry": {
                            "coordinates": [
                                4.93895,
                                52.34293
                            ],
                            "type": "Point"
                        },
                        "id": "p31",
                        "properties": {
                            "color": "fbc300",
                            "offset": 1,
                            "poi": 31,
                            "species": 5,
                            "title": "Kleine mantelmeeuw, Amsterdam, 1",
                            "trip": 7
                        },
                        "type": "Feature"
                    }
                ],
                "type": "FeatureCollection"
            }

## Trips [/trips]

+ Model (application/json)

        {
            "total": 1,
            "items": [{
                "id": 1,
                "species": {
                    "id": 1,
                    "name": "Kleine mantelmeeuw",
                        "id": 1,
                        "width": 800,
                        "height": 558,
                        "urls": {
                            "reference": "http://localhost:8000/uploads/media/species/0001/01/ca9e366f26e6c4fbe25f844a552711ac2f202d0d.jpeg",
                            "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_1_species_big.jpeg",
                            "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_1_species_small.jpeg"
                        }
                    },
                    "logo": {
                        "id": 2,
                        "width": 320,
                        "height": 181,
                        "urls": {
                            "reference": "http://localhost:8000/uploads/media/species/0001/01/bc2791fde7e746299795d026f2c3acfd307fb902.jpeg",
                            "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_big.jpeg",
                            "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_small.jpeg"
                        }
                    },
                    "created_by": 2,
                    "created_on": "2013-04-14T10:00:00+00:00"
                },
                "tracker": 355,
                "place": "Amsterdam",
                "color": "fbc300",
                "start": "2013-04-14T10:00:00+00:00",
                "end": "2013-04-15T12:00:00+00:00",
                "visible": true,
                "created_by": 2,
                "created_on": "2013-04-14T10:00:00+00:00",
                "stats": {
                    "nr_pois": 1,
                    "nr_questions": 1,
                    "nr_answers": 1,
                }
            }]
        }

### Create a trip. [POST]

The Trip resource requires the following attributes:

- tracker (string) ... Tracker identifier.
- geo (GeoJSON) ... List of features with lon,lat alt point coordinates and ts (timestamp) property.
- visible (boolean) ... Visiblility of trip. A hidden trip can only be seen by users with *researcher* role.

> TODO add visualization options, eg. color for speed, color for hour of day

Creating a trip requires the researcher role.

+ Request

    [Trip][]

+ Response 201

    [Trip][]

### List of trips. [GET]

Retrieving a list visible trips requires the anonymous role.
Retrieving a list visible and invisible trips requires the researcher role.

+ Response 200

    [Trips][]

## List of trips filtered on tracker [/trips?tracker={tracker}]

+ Parameters
    + tracker (number, `355`) ... A tracker identifier.

### GET

+ Response 200

    [Trips][]

## List of trips filtered on species [/trips?species={species}]

+ Parameters
    + species (number, `1`) ... A species identifier.

### GET

+ Response 200

    [Trips][]

## List of trips ordered by distance to a location [/trips?dist={lon,lat}]

+ Parameters
    + lon (number, `4.949235`) ... Longitude.
    + lat (number, `52.323681`) ... Latitude.

### Distance to closest poi [GET]

+ Response 200 (application/json)

        {
            "total": 1,
            "items": [{
                "id": 1,
                "species": {
                    "id": 1,
                    "name": "Kleine mantelmeeuw",
                    "banner": {
                        "id": 1,
                        "width": 800,
                        "height": 558,
                        "urls": {
                            "reference": "http://localhost:8000/uploads/media/species/0001/01/ca9e366f26e6c4fbe25f844a552711ac2f202d0d.jpeg",
                            "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_1_species_big.jpeg",
                            "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_1_species_small.jpeg"
                        }
                    },
                    "logo": {
                        "id": 2,
                        "width": 320,
                        "height": 181,
                        "urls": {
                            "reference": "http://localhost:8000/uploads/media/species/0001/01/bc2791fde7e746299795d026f2c3acfd307fb902.jpeg",
                            "big": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_big.jpeg",
                            "small": "http://localhost:8000/uploads/media/species/0001/01/thumb_2_species_small.jpeg"
                        }
                    },
                    "created_by": 2,
                    "created_on": "2013-04-14T10:00:00+00:00"
                },
                "tracker": 355,
                "start": "2013-04-14T10:00:00+00:00",
                "end": "2013-04-15T12:00:00+00:00",
                "visible": true,
                "created_by": 2,
                "created_on": "2013-04-14T10:00:00+00:00",
                "stats": {
                    "nr_pois": 1,
                    "nr_questions": 1,
                    "nr_answers": 1,
                    "dist_closest_poi": 2.252
                },
                "place": "Amsterdam"
            }]
        }

## List of trips in kml format [/trips/geo.kml]

The filters of `/trips` also work on this resources.

### GET

+ Response 200 (application/vnd.google-earth.kml+xml)

            <?xml version="1.0" ?>
            <kml xmlns="http://www.opengis.net/kml/2.2">
                <Document>
                    <Style id="start">
                        <IconStyle>
                            <Icon>
                                <href>http://localhost:8333/bundles/vhuapi/images/trip-start.png</href>
                            </Icon>
                        </IconStyle>
                    </Style>
                    <Style id="finish">
                        <IconStyle>
                            <Icon>
                                <href>http://localhost:8333/bundles/vhuapi/images/trip-finish.png</href>
                            </Icon>
                        </IconStyle>
                    </Style>
                    <Style id="trip-1">
                        <LineStyle>
                            <color>7f00ffff</color>
                            <width>4</width>
                        </LineStyle>
                        <PolyStyle>
                            <color>4f00afff</color>
                        </PolyStyle>
                    </Style>
                    <Style id="poisof-1">
                        <IconStyle>
                            <Icon>
                                <href>http://localhost:8333/bundles/vhuapi/images/puzzle-ffff00.png</href>
                            </Icon>
                        </IconStyle>
                    </Style>
                    <Folder id="1">
                        <name>Trip 355</name>
                        <Placemark>
                            <LineString>
                                <altitudeMode>absolute</altitudeMode>
                                <extrude>1</extrude>
                                <coordinates>
                            4.88073,52.39517,20
                            4.88460,52.37130,10
                            4.96435,52.35045,20
                            </coordinates>
                            </LineString>
                            <styleUrl>#trip-1</styleUrl>
                        </Placemark>
                        <Placemark>
                            <name>Start</name>
                            <description>April 14, 2013 10:00</description>
                            <Point>
                                <coordinates>
                  4.88073,52.39517,20
                  </coordinates>
                            </Point>
                            <styleUrl>#start</styleUrl>
                        </Placemark>
                        <Placemark>
                            <name>Finish</name>
                            <description>April 15, 2013 12:00</description>
                            <Point>
                                <coordinates>
                   4.96435,52.35045,20
                  </coordinates>
                            </Point>
                            <styleUrl>#finish</styleUrl>
                        </Placemark>
                        <Folder>
                            <name>POIs</name>
                            <open>1</open>
                            <Placemark id="1">
                                <name>POI 1</name>
                                <Point>
                                    <coordinates>
                      4.93895, 52.34293
                      </coordinates>
                                </Point>
                                <styleUrl>#poisof-1</styleUrl>
                            </Placemark>
                        </Folder>
                    </Folder>
                </Document>
            </kml>

## List of trips in GeoJSON format [/trips/geo.json]

The filters of `/trips` also work on this resources.

All the trips are in one feature collection.
In the GeoJSON format a trip consists of one feature with the track as a linestring and a point feature for each poi.

### GET

+ Response 200 (application/json)

            {
                "type": "FeatureCollection",
                "features": [
                    {
                        "type": "Feature",
                        "geometry": {
                            "type": "LineString",
                            "coordinates": [
                                [
                                    4.880729,
                                    52.395173,
                                    20
                                ],
                                [
                                    4.8846,
                                    52.371303,
                                    10
                                ],
                                [
                                    4.964354,
                                    52.350452,
                                    20
                                ]
                            ]
                        },
                        "properties": {
                            "trip": 1,
                            "color": "fbc300",
                            "species": 1,
                            "bbox": [
                                52.350452,
                                4.880729,
                                52.395173,
                                4.964354
                            ]
                        },
                        "id": "t1"
                    },
                    {
                        "type": "Feature",
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                4.93895,
                                52.34293
                            ]
                        },
                        "properties": {
                            "poi": 1,
                            "trip": 1,
                            "color": "fbc300",
                            "species": 1,
                            "offset": 1,
                            "title": "Kleine mantelmeeuw, Amsterdam, 1"
                        },
                        "id": "p1"
                    }
                ]
            }

# Group POIs
A point of interest is a place on a trip where a questions are connected to.

## Point of interest [/trips/{trip}/pois/{poi}]

+ Parameters
    + trip (number, `1`) ... Trip identifier.
    + poi (number, `1`) ... Point of interest identifier.

+ Model (application/json)

        {
            "id": 1,
            "trip": 1,
            "location": {
                "type": "Point",
                "coordinates": [4.938947, 52.342929]
            },
            "radius": 100,
            "order_number": 1,
            "body": "text describing motiviation for the poi",
            "questions": [{
                "id": 1,
                "type": "radio",
                "title": "Question text",
                "description" : "Description text",
                "shortname": "Shortname or alias",
                "options": [{
                    "id": 1,
                    "title": "Title of option1",
                    "value": "Value of option1"
                }, {
                    "id": 2,
                    "title": "Title of option2",
                    "value": "Value of option2"
                }],
                "created_by": 2,
                "created_on": "2013-04-14T10:00:00+00:00"
            }],
            "created_by": 2,
            "created_on": "2013-04-14T10:00:00+00:00"
        }

### Retrieve a POI [GET]

Retrieving a visible poi requires the anonymous role.
Retrieving a invisible poi (if trip is invisible, poi is also invisible) requires the researcher role.

+ Response 200

    [Point of interest][]

### Update a POI [PUT]

Updating a poi requires the researcher role.

+ Request

    [Point of interest][]

+ Response 200

### Delete a POI [DELETE]

Deleting a poi requires the researcher role.

+ Response 204

## POIs [/pois]

Collection of point of interests.

+ Model (application/json)

        {
            "total": 1,
            "items": [{
                "id": 1,
                "trip": 1,
                "location": {
                    "type": "Point",
                    "coordinates": [4.938947, 52.342929]
                },
                "radius": 100,
                "order_number": 1,
                "created_by": 2,
                "created_on": "2013-04-14T10:00:00+00:00"
            }]
        }

### List POIs [GET]

Retrieving a list of visible pois requires the anonymous role.
Retrieving a list of visible and invisible (if trip is invisible then poi is also invisible) pois requires the researcher role.

+ Response 200

    [POIs][]

## List of POIs filtered on geo bounding box [/pois?bbox={minlon},{minlat},{maxlon},{maxlat}]

+ Parameters
    + minlon (number, `4.8`) ... Minimum longitude
    + minlat (number, `52.3`) ... Minimum latitude
    + maxlon (number, `5.0`) ... Maximum longitude
    + maxlat (number, `52.5`) ... Maximum latitude

### GET

+ Response 200

    [POIs][]

## List of POIs ordered on distance from a location [/pois?dist={lon},{lat}]

Sets the distance field.

+ Parameters
    + lon (number, `4.8`) ... Longitude of location
    + lat (number, `52.4`) ... Latitude of location

### GET

+ Response 200

        {
                "total": 1,
                "items": [{
                    "id": 1,
                    "trip": 1,
                    "location": {
                        "type": "Point",
                        "coordinates": [4.938947, 52.342929]
                    },
                    "radius": 100,
                    "order_number": 1,
                    "distance": 11.369,
                    "created_by": 2,
                    "created_on": "2013-04-14T10:00:00+00:00"
                }]
        }

## List of POIs filtered on distance from a location [/pois?dist={lon},{lat}&radius={radius}]

Sets the distance field and filters out POI's further away then radius.

+ Parameters
    + lon (number, `4.8`) ... Longitude of location
    + lat (number, `52.4`) ... Latitude of location
    + radius (number, `100`) ... Radius in meters

### GET

+ Response 200

        {
                "total": 1,
                "items": [{
                    "id": 1,
                    "trip": 1,
                    "location": {
                        "type": "Point",
                        "coordinates": [4.938947, 52.342929]
                    },
                    "radius": 100,
                    "order_number": 1,
                    "distance": 11.369,
                    "created_by": 2,
                    "created_on": "2013-04-14T10:00:00+00:00",
                    "stats": {
                        "nr_questions": 1,
                        "nr_answers": 1
                    }
                }]
        }

## List of POIs filtered on a tracker [/pois?tracker={tracker}]

+ Parameters
    + tracker (number, `355`) ... A tracker identifier

### GET

+ Response 200

    [POIs][]

## List of POIs ordered by newest POI first [/pois?order=created_on]

### GET

+ Response 200

    [POIs][]

## Collection of points of interest of a trip [/trips/{trip}/pois]

+ Parameters
    + trip (number, `1`) ... Trip identifier.

### Create a point of interest [POST]

+ Request

    [Point of interest][]

+ Response 201

    [Point of interest][]

### List points of interest for a trip [GET]

+ Response 200

    [POIs][]

## Kml file of trip of poi [/pois/{poi}/geo.kml]

A trip selected by one of it's poi with points and pois as a kml file.

### GET

Retrieving a visible trip requires the anonymous role.

+ Parameters
    + poi (number, `1`) ... Trip identifier.

+ Response 200 (application/vnd.google-earth.kml+xml)

            <?xml version="1.0" ?>
            <kml xmlns="http://www.opengis.net/kml/2.2">
                <Document>
                    <Style id="start">
                        <IconStyle>
                            <Icon>
                                <href>http://localhost:8333/bundles/vhuapi/images/trip-start.png</href>
                            </Icon>
                        </IconStyle>
                    </Style>
                    <Style id="finish">
                        <IconStyle>
                            <Icon>
                                <href>http://localhost:8333/bundles/vhuapi/images/trip-finish.png</href>
                            </Icon>
                        </IconStyle>
                    </Style>
                    <Style id="trip-1">
                        <LineStyle>
                            <color>7f00ffff</color>
                            <width>4</width>
                        </LineStyle>
                        <PolyStyle>
                            <color>4f00afff</color>
                        </PolyStyle>
                    </Style>
                    <Style id="poisof-1">
                        <IconStyle>
                            <Icon>
                                <href>http://localhost:8333/bundles/vhuapi/images/puzzle-ffff00.png</href>
                            </Icon>
                        </IconStyle>
                    </Style>
                    <Folder id="1">
                        <name>Trip 355</name>
                        <Placemark>
                            <LineString>
                                <altitudeMode>absolute</altitudeMode>
                                <extrude>1</extrude>
                                <coordinates>
                            4.88073,52.39517,20
                            4.88460,52.37130,10
                            4.96435,52.35045,20
                            </coordinates>
                            </LineString>
                            <styleUrl>#trip-1</styleUrl>
                        </Placemark>
                        <Placemark>
                            <name>Start</name>
                            <description>April 14, 2013 10:00</description>
                            <Point>
                                <coordinates>
                  4.88073,52.39517,20
                  </coordinates>
                            </Point>
                            <styleUrl>#start</styleUrl>
                        </Placemark>
                        <Placemark>
                            <name>Finish</name>
                            <description>April 15, 2013 12:00</description>
                            <Point>
                                <coordinates>
                   4.96435,52.35045,20
                  </coordinates>
                            </Point>
                            <styleUrl>#finish</styleUrl>
                        </Placemark>
                        <Folder>
                            <name>POIs</name>
                            <open>1</open>
                            <Placemark id="1">
                                <name>POI 1</name>
                                <Point>
                                    <coordinates>
                      4.93895, 52.34293
                      </coordinates>
                                </Point>
                                <styleUrl>#poisof-1</styleUrl>
                            </Placemark>
                        </Folder>
                    </Folder>
                </Document>
            </kml>

# Group Questions
See http://manual.limesurvey.org/LimeSurvey_Manual for question types
and http://developer.surveygizmo.com/rest-api-documentation/objects/ for possible API.

## Question [/trips/{trip}/pois/{poi}/questions/{question}]

A question must have a type, title, created_by and created_on fields. Optionally a question can have an image field.
Depending on the question type some other fields are required, see examples below.

Types of questions:

- radio, multiple options with only one possible choice, the answer value should one of the options value properties.
- radioimg, multiple options with only one possible choice, the option.image should be shown as question option, the answer value should one of the options value properties.
- open, short text field for an open question, this can be used as comment question. The maximum length of the answer value is question.maximum property and the minimum length is 1.
- photo, submit a photo.
- video, submit a video.
- count, user enters a number, for example the number of a certain bird species that can be seen around a POI. The minimum is 0 and maximum is the question.maximum property.

### Example questions

Radio question, the description and shortname fields are optional:
````json
        {
            "created_by": 2,
            "created_on": "2013-04-14T10:00:00+0000",
            "description": "Description text",
            "id": 1,
            "options": [{
                "id": 1,
                "title": "Title of option1",
                "value": "Value of option1"
            }, {
                "id": 2,
                "title": "Title of option2",
                "value": "Value of option2"
            }],
            "shortname": "Shortname or alias",
            "title": "Question text of a multiple choice question",
            "type": "radio"
        }
````
Photo question:
````json
        {
            "created_by": 2,
            "created_on": "2013-04-14T10:00:00+0000",
            "id": 2,
            "title": "Question text to take a photo",
            "type": "photo"
        }
````
Video question:
````json
        {
            "created_by": 2,
            "created_on": "2013-04-14T10:00:00+0000",
            "id": 3,
            "title": "Question text to take a video",
            "type": "video"
        }
````
Open question:
````json
        {
            "created_by": 2,
            "created_on": "2013-04-14T10:00:00+0000",
            "id": 4,
            "title": "An open question",
            "type": "open"
        }
````
Count question:
````json
        {
            "created_by": 2,
            "created_on": "2013-04-14T10:00:00+0000",
            "id": 5,
            "maximum": 10,
            "title": "A question where user must count somehting and give a number",
            "type": "count"
        }
````
Photo question with image as part of question text (title and image should be shown):
````json
        {
            "created_by": 2,
            "created_on": "2013-04-14T10:00:00+0000",
            "id": 6,
            "image": {
                "height": 240,
                "id": 3,
                "urls": {
                    "big": "http://localhost:8333/uploads/media/question/0001/01/thumb_3_question_big.png",
                    "reference": "http://localhost:8333/uploads/media/question/0001/01/5f0e8f74a01ff26d12cdd0d19c391217a22ee21f.png"
                },
                "width": 200
            },
            "title": "An photo question with an image",
            "type": "photo"
        }
````
Radio image question:
````json
        {
            "created_by": 2,
            "created_on": "2013-04-14T10:00:00+0000",
            "id": 7,
            "options": [
                {
                    "id": 3,
                    "image": {
                        "height": 240,
                        "id": 3,
                        "urls": {
                            "big": "http://localhost:8333/uploads/media/question/0001/01/thumb_3_question_big.png",
                            "reference": "http://localhost:8333/uploads/media/question/0001/01/5f0e8f74a01ff26d12cdd0d19c391217a22ee21f.png"
                        },
                        "width": 200
                    },
                    "value": "Value of option1"
                },
                {
                    "id": 4,
                    "image": {
                        "height": 150,
                        "id": 4,
                        "urls": {
                            "big": "http://localhost:8333/uploads/media/question/0001/01/thumb_4_question_big.jpeg",
                            "reference": "http://localhost:8333/uploads/media/question/0001/01/77f5ff35e0f21dc16605b9b84508d727da4a277c.jpeg"
                        },
                        "width": 150
                    },
                    "value": "Value of option2"
                }
            ],
            "title": "Image choice question",
            "type": "radioimg"
        }
````

+ Parameter
    + trip (number, `1`) ... Trip identifier.
    + poi (number, `1`) ... Point of interest identifier.
    + question (number, `1`) ... Question identifier.

+ Model (application/json)

        {
            "id": 1,
            "type": "radio",
            "title": "Question text",
            "description" : "Description text",
            "shortname": "Shortname or alias",
            "options": [{
                "id": 1,
                "title": "Title of option1",
                "value": "Value of option1"
            }, {
                "id": 2,
                "title": "Title of option2",
                "value": "Value of option2"
            }],
            "created_by": 2,
            "created_on": "2013-04-14T10:00:00+00:00"
        }

### Retrieve a question [GET]

Retrieving a visible question requires the anonymous role.
Retrieving a invisible question (if trip is invisible, question is also invisible) requires the researcher role.

+ Response 200

    [Question][]

### Update a question [PUT]

Updating a question requires the researcher role.

+ Request

    [Question][]

+ Response 200

### Delete a question [DELETE]

Deleting a question requires the researcher role.

+ Response 204

## Questions [/trips/{trip}/pois/{poi}/questions]

+ Parameters
    + trip (number, `1`) ... Trip identifier.
    + poi (number, `1`) ... Point of interest identifier.

+ Model (application/json)

        {
            "total": 1,
            "items": [{
                "id": 1,
                "type": "radio",
                "title": "Question text",
                "description" : "Description text",
                "shortname": "Shortname or alias",
                "options": [{
                    "id": 1,
                    "title": "Title of option1",
                    "value": "Value of option1"
                }, {
                    "id": 2,
                    "title": "Title of option2",
                    "value": "Value of option2"
                }],
                "created_by": 2,
                "created_on": "2013-04-14T10:00:00+00:00"
            }]
        }

### Create a question [POST]

Creation of question requires researcher role.

+ Request

    [Question][]

+ Response 201

    [Question][]

### List of questions [GET]

Retrieving a list of visible question requires the anonymous role.
Retrieving a list if visible and invisible question requires the researcher role.

+ Response 200

    [Questions][]

## Question library [/questions]

### List of questions [GET]
Fetch list of questions independ of trip or poi.

+ Response 200

    [Questions][]

## Copy questions [/poi/{src_poi}/questions]

+ Parameters
    + src_poi (number, `1`) ... Point of interest identifier of source.

### Copy questions from one poi to another [COPY]

Copies the questions from source POI to destination POI.

+ Request

    + Headers

            Destination: /poi/{dst_poi}/questions

+ Response 201

## Copy question [/questions/{question}]

+ Parameters
    + question (number, `1`) ... Question indentifier of source.

### Copy question to an poi [COPY]

Copy the question to a destination POI.

+ Request

    + Headers

            Destination: /poi/{dst_poi}/questions

+ Response 201

## Question options [/questions/{question}/options]

Includes nr of answers for each option.

+ Parameters
    + question (number, `1`) ... Question indentifier.

+ Model (application/json)

        [
            {
                "id": 1,
                "title": "Title of option1",
                "value": "Value of option1",
                "nr_answers": 1
            },
            {
                "id": 2,
                "title": "Title of option2",
                "value": "Value of option2",
                "nr_answers": 1
            }
        ]

### Retrieve options for a question [GET]

Retrieving question options requires moderator role.

+ Response 200

    [Question options][]

+ Response 404 (application/json)

        [{"message": "Question has no options"}]

# Group Answers

## Answer [/answers/{answer}]

Attributes:

- answered_on:, need to know when answer was given.
- lon, lat: need to know where answer was given.
- head, tilt: orientation of device, heading or direction and tilting, used when question type is image or video otherwise ignored.
- value, the answer itself. For a media type answer the answer will be empty, the media can be downloaded in the admin website.

The 'answered_by' field is only set when user was logged in.
The 'moderated_by' and 'moderated_on' fields are filled when answer has been approved.

### Example answers
Answer for a radio question or radio image question:
````json
        {
            "value": "Value of option1",
            "lon": 54.642,
            "lat": 12.543,
            "answered_on": "2013-09-04T12:30:00Z"
        }
````

Answer for a open question:

````json
        {
            "value": "some answer",
            "lon": 54.642,
            "lat": 12.543,
            "answered_on": "2013-09-04T12:30:00Z"
        }
````

Answer for a count question:

````json
        {
            "value": "5",
            "lon": 54.642,
            "lat": 12.543,
            "answered_on": "2013-09-04T12:30:00Z"
        }
````


Answer for a photo question or video question (the media is added as `media` form field):

````json
        {
            "lon": 54.642,
            "lat": 12.543,
            "head": 225.00,
            "tilt": 45.0,
            "answered_on": "2013-09-04T12:30:00Z"
        }
````

+ Parameters
    + answer (number, `1`) ... Answer identifier.

+ Model (application/json)

        {
            "id": 1,
            "lon": 4.938907,
            "lat": 52.342909,
            "value": "Value of option1",
            "question": {
                "id": 1,
                "type": "radio",
                "title": "Question text",
                "description" : "Description text",
                "shortname": "Shortname or alias",
                "options": [{
                    "id": 1,
                    "title": "Title of option1",
                    "value": "Value of option1"
                }, {
                    "id": 2,
                    "title": "Title of option2",
                    "value": "Value of option2"
                }],
                "created_by": 2,
                "created_on": "2013-04-14T10:00:00+00:00"
            },
            "answered_by": 4,
            "answered_on": "2013-09-04T12:30:00+00:00",
            "moderated_on": "2013-09-14T14:30:00+00:00",
            "moderated_by": 3
        }

### Retrieve an answer [GET]

Registered role will retrieve your own answer.
Moderator role will retrieve any answer.

+ Response 200

    [Answer][]

### Delete answer [DELETE]

This will delete the answer and if question type is image or video will also delete the uploaded media.

Deleting an answer requires the moderator role.

+ Response 204

## Moderate answer [/answers/{answer}/moderate]

+ Parameters
    + answer (number, `1`) ... Answer identifier.

### Approve answer [PUT]

Moderate answer by approving it.

Approving an answer requires the moderator role.

+ Response 200

    [Answer][]

### Undo approved answer [DELETE]

Undoing an approved answer requires the moderator role.

+ Response 200

    [Answer][]

## Answers [/answers]

+ Model (application/json)

        {
            "total": 1,
            "items": [{
                "id": 1,
                "question": 1,
                "lon": 4.938907,
                "lat": 52.342909,
                "value": "value",
                "answered_by": 4,
                "answered_on": "2013-09-04T12:30:00+00:00",
                "moderated_on": "2013-09-14T12:30:00+00:00",
                "moderated_by": 3
            }]
        }

### List of moderated answers [GET]

Registered role will retrieve your own answers.
Researcher role will retrieve all answers.

+ Response 200

    [Answers][]

## Answers per question [/questions/{question}/answers]

+ Parameters
    + question (number, `1`) ... Question identifier

### Retrieve moderated answers for a question [GET]

Registered role will retrieve your own answers.
Researcher role will retrieve all answers.

+ Response 200

    [Answers][]

### Create an answer [POST]

Answers can contain a media file like a image or video, this prevents using a normal POST body with json so we need to use file upload form submission.

Answers without media use *application/x-www-form-urlencoded* content type with the `json` form field, see first request.
Answers with media use *multipart/form-data* content type with the `json` and `media` form fields, see second request.

The `json` form field is a json encoded string of the Answer resource.

Create an answer requires the registered user role.

If answer send media then in the response the answer value will be the url where the media can be downloaded.
The answer value for a open or count question is the value the user entered.
The answer value for a radio or radioimg question is the value of the option that was selected.

+ Request (application/x-www-form-urlencoded; charset=utf-8)

        json=%7B%0A++++%22value%22%3A+%22some+answer%22%2C%0A++++%22lon%22%3A+54.642%2C%0A++++%22lat%22%3A+12.543%2C%0A++++%22answered_on%22%3A+%222013-09-04T12%3A30%3A00+00:00%22%0A%7D%0A

+ Request (multipart/form-data;boundary=AaB03x)

        --AaB03x
        Content-Disposition: form-data; name="json"
        Content-Type: application/json

        {
            "value": "some answer",
            "lon": 4.938907,
            "lat": 52.342909,
            "head": 225.00,
            "tilt": 45.0,
            "answered_on": "2013-09-04T12:30:00+00:00"
        }
        --AaB03x
        Content-Disposition: form-data; name="media"; filename="image1.png"
        Content-Type: image/png

        ... content of image1.png

        --AaB03x

+ Response 201

    [Answer][]

+ Response 422 (application/json)

        [{"message": "Question does not allow media upload"}]

+ Response 409 (application/json)

        [{"message": "Question already answered"}]

## Unmoderated answers for question [/questions/{question}/answers/unmoderated]

+ Parameters
    + question (number, `1`) ... Question identifier.

### Retrieve unmoderated answers [GET]

Retrieving your own unmoderated answers for a question requires the registered role.
Retrieving all unmoderated answers for a question requires the moderator role.

+ Response 200 (application/json)

        {
            "total": 0,
            "items": []
        }

## All unmoderated answers [/answers/unmoderated]

### Retrieve unmoderated answers [GET]

Retrieving your own unmoderated answers for a question requires the registered role.
Retrieving all unmoderated answers for a question requires the moderator role.

+ Response 200 (application/json)

        {
            "total": 0,
            "items": []
        }

## Answers of a trip as a csv file [/trips/{trip}/answers.csv]

+ Parameters
    + trip (number, `1`) ... Trip identifier.

### Retrieve answers of trip [GET]

Retrieving all answers of a trip requires the moderator role.

+ Response 200 (text/csv)

        answer_id,answer_lon,answer_lat,answer,answer_on,answer_by,answer_moderated_by,answer_dist2poi,answer_tilt,answer_head,question_id,question_type,question_title,poi_id,poi_lon,poi_lat,poi_offset
        5,54.64200,12.54300,1-50,2013-09-04T12:30:00+0200,user,,6155.006,45.00000,225.00000,124,radio,Hoeveel roofvogels zie je in het perceel?,32,7.02329,53.13103,0

# Group Stories
A story is about a trip and it's POIs combined with the supplied answers and insight of researcher.

## Story [/stories/{id}]

+ Parameters
    + id (number, `1`) ... Story identifier

+ Model (application/json)

        {
            "id": 1,
            "trip": {
                "id": 1,
                "tracker": 355,
                "start": "2009-01-01T00:00:00+0000",
                "end": "2009-01-01T00:00:00+0000",
                "body": "bla bla",
                "place": "Amsterdam",
                "color": "fbc300",
                "geo": {
                    "type": "FeatureCollection",
                    "features": [
                        {
                            "type": "Feature",
                            "geometry": {
                                "type": "Point",
                                "coordinates": [
                                    4.88073,
                                    52.39517,
                                    20
                                ]
                            },
                            "properties": {
                                "ts": "2013-04-15T12:05:00+0000"
                            }
                        },
                        {
                            "type": "Feature",
                            "geometry": {
                                "type": "Point",
                                "coordinates": [
                                    4.8846,
                                    52.3713,
                                    10
                                ]
                            },
                            "properties": {
                                "ts": "2013-04-15T12:10:00+0000"
                            }
                        },
                        {
                            "type": "Feature",
                            "geometry": {
                                "type": "Point",
                                "coordinates": [
                                    4.96435,
                                    52.35045,
                                    20
                                ]
                            },
                            "properties": {
                                "ts": "2013-04-15T12:15:00+0000"
                            }
                        }
                    ]
                },
                "visible": true,
                "stats": {
                    "nr_pois": 1,
                    "nr_questions": 1,
                    "nr_answers": 1
                },
                "species": {
                    "created_by": 2,
                    "id": 1,
                    "name": "Kleine mantelmeeuw",
                    "body": "<p>De kleine mantelmeeuw is &eacute;&eacute;n van de 22 verschillende soorten meeuwen die in Nederland zijn waargenomen. Met zijn donkergrijze mantel en rug en gele snavel en poten lijkt hij erg op de zilvermeeuw (<em>Larus argentatus<\/em>). Gedurende het broedseizoen broeden deze meeuwen in kolonies in de duinen, op industriegebieden en op daken in steden. Na het broedseizoen migreren deze vogels naar gebieden van Groot-Brittanni&euml; tot aan Mauritani&euml;, Gambia en Senegal. Kleine mantelmeeuwen zijn echte omnivoren en eten vis, zoogdieren, vogels, verschillende soorten insecten, planten en afval.<\/p>\n                           <p>Een belangrijke broedkolonie voor onderzoek bevindt zich op Texel. Hier broeden jaarlijks ongeveer 11.500 paren Kleine mantelmeeuwen en 5.000 paren Zilvermeeuwen. In de gegevens die hiermee zijn verzameld kunnen we zien dat meeuwen afhankelijk zijn van veel verschillende soorten voedsel tijdens het broedseizoen. Ook is gebleken dat de duur van voedselzoektochten kan verschillen van een paar uur tot meer dan 36 uur. Kleine veranderingen in de manier waarop wij gebruik maken van het land kunnen grote gevolgen hebben voor de meeuwen. Zo zijn een aantal meeuwen van deze kolonie bijvoorbeeld afhankelijk van de visserij op de Noordzee. Als er met andere methodes gewerkt zal gaan worden, betekent dit dat er minder vis beschikbaar is als voedsel voor de meeuwen. Deze vogels zullen op zoek gaan naar andere voedselbronnen, al dan niet op land. Met <em>Vogel het uit!<\/em> willen we meer informatie krijgen over plekken die vaak door de vogels worden bezocht.<\/p>",
                    "facts": "<ul><li>Lente 2008: 10 vogels kregen GPS-logger<\/li><li>Lente 2009: 3 vogels kregen GPS-logger<\/li><li>Lente 2010: 4 vogels kregen GPS-logger<\/li><li>Leuk weetje, bijv. langst afgelegde route?<\/li><li>Op <a href=\"http:\/\/www.uva-bits.nl\/species\/lesser-black-backed-gull\/\">UvA-BiTS<\/a><\/li><\/ul>",
                    "created_on": "2013-04-14T10:00:00+0000",
                    "banner": {
                        "id": 1,
                        "width": 800,
                        "height": 558,
                        "urls": {
                            "reference": "http:\/\/coolhead:8333\/uploads\/media\/species\/0001\/01\/bacad5da8c098bc0aa5bf87bf31efcd6285cac75.jpeg",
                            "big": "http:\/\/coolhead:8333\/uploads\/media\/species\/0001\/01\/thumb_1_species_big.jpeg",
                            "small": "http:\/\/coolhead:8333\/uploads\/media\/species\/0001\/01\/thumb_1_species_small.jpeg"
                        }
                    },
                    "logo": {
                        "id": 2,
                        "width": 320,
                        "height": 181,
                        "urls": {
                            "reference": "http:\/\/coolhead:8333\/uploads\/media\/species\/0001\/01\/c7e31391737b4413f847c9cbf97cbb5e77ca10e7.jpeg",
                            "big": "http:\/\/coolhead:8333\/uploads\/media\/species\/0001\/01\/thumb_2_species_big.jpeg",
                            "small": "http:\/\/coolhead:8333\/uploads\/media\/species\/0001\/01\/thumb_2_species_small.jpeg"
                        }
                    },
                    "app_menu_item": {
                        "id": 1,
                        "width": 800,
                        "height": 558,
                        "urls": {
                            "reference": "http:\/\/coolhead:8333\/uploads\/media\/species\/0001\/01\/bacad5da8c098bc0aa5bf87bf31efcd6285cac75.jpeg",
                            "big": "http:\/\/coolhead:8333\/uploads\/media\/species\/0001\/01\/thumb_1_species_big.jpeg",
                            "small": "http:\/\/coolhead:8333\/uploads\/media\/species\/0001\/01\/thumb_1_species_small.jpeg"
                        }
                    },
                    "app_logo": {
                        "id": 2,
                        "width": 320,
                        "height": 181,
                        "urls": {
                            "reference": "http:\/\/coolhead:8333\/uploads\/media\/species\/0001\/01\/c7e31391737b4413f847c9cbf97cbb5e77ca10e7.jpeg",
                            "big": "http:\/\/coolhead:8333\/uploads\/media\/species\/0001\/01\/thumb_2_species_big.jpeg",
                            "small": "http:\/\/coolhead:8333\/uploads\/media\/species\/0001\/01\/thumb_2_species_small.jpeg"
                        }
                    },
                    "summary": "Summary of bird"
                },
                "created_by": 2,
                "created_on": "2014-02-01T15:46:43+0000",
                "pois": [
                    {
                        "created_by": 2,
                        "location": {
                            "type": "Point",
                            "coordinates": [
                                4.93895,
                                52.34293
                            ]
                        },
                        "id": 1,
                        "radius": 100,
                        "order_number": 1,
                        "body": "bla bla",
                        "created_on": "2014-02-01T16:56:46+0000",
                        "questions": [{
                            "id": 1,
                            "type": "radio",
                            "title": "Question text",
                            "description": "Description text",
                            "shortname": "Shortname or alias",
                            "options": [{
                                "id": 1,
                                "title": "Title of option1",
                                "value": "Value of option1"
                            }, {
                                "id": 2,
                                "title": "Title of option2",
                                "value": "Value of option2"
                             }],
                            "created_on": "2013-04-14T10:00:00+0000",
                            "created_by": 2
                       }]
                    }
                ]
            },
            "title": "Title of story",
            "body": "<html of story>",
            "visible": true,
            "created_by": 2,
            "created_on": "2013-04-14T10:00:00+00:00"
        }

### Get a story [GET]

Retrieving a visible story requires the anonymous role.
Retrieving a invisible story requires the researcher role.

+ Response 200

    [Story][]

### Update a story [PUT]

Updating a story requires the researcher role.

+ Request

    [Story][]

+ Response 200

### Delete a story [DELETE]

Deleting a story requires the researcher role.

+ Response 204

## Stories [/stories]

+ Model (application/json)

        {
            "total": 15,
            "items": [{
                "id": "1",
                "trip": "1",
                "title": "Title of story",
                "visible": "Boolean whether story should be visible",
                "created_by": 2,
                "created_on": "2013-04-14T10:00:00+00:00"
            }]
        }


### Create a story [POST]

Creating a story requires the researcher role.

+ Request

    [Story][]

+ Response 201

    [Story][]

### List of stories [GET]

Retrieving visible stories requires the anonymous role.
Retrieving visible and invisible stories requires the researcher role.

+ Response 200

    [Stories][]

## List of stories filtered by species [/stories?species={species}]

### GET

+ Parameters
    + species (number, `1`) ... Species identifier.

+ Response 200

    [Stories][]

# Group Users
User administration and profile.

Roles:

- anonymous, can answer questions, but can not change anything else (this includes submitting comments and media).
- registered, can answer questions, submit comments and media. Can also see in his/her profile the work he/she done.
- moderator, can see answers of everyone and delete answers. Same for comments and media.
- researcher, can fetch tracks and create a trip, poi, questions and a story.
- administrator, can assign roles to users.

## Roles [/roles]

+ Model (application/json)

        [
            "ROLE_USER",
            "ROLE_MODERATOR",
            "ROLE_RESEARCHER",
            "ROLE_ADMIN"
        ]

### List of roles [GET]

Retrieving a list of roles requires the admin role.

+ Response 200

    [Roles][]

## User [/users/{user}]

+ Parameters
    + user (number, `4`) ... User identifier.

+ Model (application/json)

        {
            "id": 4,
            "username": "user",
            "email": "user@vogelhetuit.nl",
            "firstname": "first name",
            "lastname": "last name",
            "phone": "(Mobile) phone number, used by researcher to ask feedback",
            "photo": {
                "height": 80,
                "id": 8,
                "urls": {
                    "reference": "http://url.to/original/image",
                    "small": "http://url.to/80x80/image"
                },
                "width": 80
            },
            "roles": []
        }

### Retrieve a user [GET]

A user can retrieve his/her own user information.
Retrieving a user requires the researcher role. As the researcher needs contact information for follow up questions.

+ Response 200

    [User][]

### Update a user [PUT]

A user can update his/her own user information.
Updating a user requires the admin role or self.
Use `users/{user}/photo` to update photo of user.

+ Request

        {
            "username": "user",
            "password": "user",
            "email": "user@vogelhetuit.nl",
            "firstname": "first name",
            "lastname": "last name",
            "phone": "(Mobile) phone number, used by researcher to ask feedback"
        }

+ Response 201

### Partial update a user [PATCH]

A user can update some of his/her own user information.
The following user fields can be updated:
* username
* password
* email
* firstname
* lastname
* phone

Updating a user requires the admin role or self.

+ Request

        {
            "email": "user@vogelhetuit.nl"
        }

+ Response 201

### Deleta a user [DELETE]

A user can delete his/her own user information.
Deleting a user requires the admin role.

+ Response 204

## Self [/users/self]

### User information of authenticated user [GET]

A user can retrieve his/her own user information.

+ Response 302

    + Headers

            Location: /users/1

## Collection of users [/users]

### Create a user [POST]

Creat a user requires the anonymous role.
A created user will automaticly get the *ROLE_USER* role.
The returned cookie can be used to do follow API requests.

+ Request (application/json)

        {
            "username": "user",
            "password": "user",
            "email": "user@vogelhetuit.nl",
            "firstname": "first name",
            "lastname": "last name",
            "phone": "(Mobile) phone number, used by researcher to ask feedback"
        }

+ Response 201 (application/json)

    + Headers

            Set-Cookie: vhu_auth={token}; Path=/; Secure; HttpOnly

    + Body

            {
                "id": 4,
                "username": "user",
                "email": "user@vogelhetuit.nl",
                "firstname": "first name",
                "lastname": "last name",
                "phone": "(Mobile) phone number, used by researcher to ask feedback",
                "roles": []
            }

### List of users [GET]

Retrieving a list of users requires the moderator role.

+ Response 200 (application/json)

        {
            "total": 4,
            "items": [{
              "username": "admin",
              "email": "admin@vogelhetuit.nl",
              "roles": [
                "ROLE_ADMIN"
              ],
              "id": 1
            },
            {
              "username": "researcher",
              "email": "researcher@vogelhetuit.nl",
              "roles": [
                "ROLE_RESEARCHER"
              ],
              "id": 2
            },
            {
              "username": "moderator",
              "email": "moderator@vogelhetuit.nl",
              "roles": [
                "ROLE_MODERATOR"
              ],
              "id": 3
            },
            {
              "username": "user",
              "email": "user@vogelhetuit.nl",
              "photo": {
                  "height": 80,
                  "id": 8,
                  "urls": {
                      "reference": "http://url.to/original/image",
                      "small": "http://url.to/80x80/image"
                  },
                  "width": 80
              },
              "roles": [],
              "id": 4
            }]
        }

## Generate a random user [/users/auto]

The returned cookie can be used to do follow API requests.
The returned username/password can be used to login when cookie is no longer valid.

### Generate user and login [POST]

+ Response 201 (application/json)

    + Headers

            Set-Cookie: vhu_auth={token}; Path=/; Secure; HttpOnly

    + Body

            {
                "id": 5,
                "username": "<randomly generated username>",
                "password": "<randomly generated password>",
                "email": "<randomly generated email>"
            }

## Relation of user and role [/users/{user}/roles/{role}]

+ Parameters
    + user (string, `4`) ... User identifier.
    + role (string, `ROLE_MODERATOR`) ... Role identifier.

### Set role of user [PUT]

Set a role of user requires the admin role.

+ Response 204

## Login [/login]

### Login user [POST]

+ Request

    + Headers

            Authentication: Basic <base64 encoded username:password>

+ Response 200 (application/json)

    + Headers

            Set-Cookie: vhu_auth={token}; Path=/; Secure; HttpOnly

    + Body

            {
                "id": 4,
                "username": "user",
                "email": "user@vogelhetuit.nl",
                "firstname": "first name",
                "lastname": "last name",
                "phone": "(Mobile) phone number, used by researcher to ask feedback",
                "photo": {
                    "height": 80,
                    "id": 8,
                    "urls": {
                        "reference": "http://url.to/original/image",
                        "small": "http://url.to/80x80/image"
                    },
                    "width": 80
                },
                "roles": []
            }


## User photo [/users/{user}/photo]

A user can add, update or delete his/her own photo.

+ Parameters
    + user (string, `4`) ... User identifier.

### Add photo to user [POST]

+ Request (multipart/form-data; boundary=<random>)

        --<random>
        Content-Disposition: form-data; name="media"; filename="photo.jpg"
        Content-Type: image/jpg
        Content-Transfer-Encoding: binary

        ... binary stream of photo ...

+ Response 201

    [User][]

### Delete photo of user [DELETE]

+ Response 204

## User statistics [/users/{user}/stats]

A user can retrieve his/her own user statistics.

+ Parameters
    + user (string, `4`) ... User identifier.

### Get stats of user [GET]

+ Response 200 (application/json)

            {
                "answers": 1,
                "moderated_answers": 1,
                "unmoderated_answers": 0
             }

# Group Zipfiles

To allow mobile applications to start faster a zipfile can be used.
The zip file contains all requests made by the app.

## Android app [/android.zip]

### Retrieve zip file [GET]

+ Response 200 (application/zip)

## IOS app [/ios.zip]

The files inside de zip file have '.json' appended to prevent duplicates.

### Retrieve zip file [GET]

+ Response 200 (application/zip)
